/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

p {
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
  font-size: 13px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #F84966;
    text-decoration: none;
}

h1,
h3 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #FFF;
}

h2 {
  text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Navbar */

.navbar-default .navbar-brand {
  color: #83B5BA;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
color: #437278;
}

.navbar-default .navbar-nav>li>a {
  color: #83B5BA;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #609FA5;
}

/* Principal */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Custom button */

.btn-custom {
 background: #83B5BA;
 color: #FFF;
}

.btn-custom:hover {
  background: #609FA5;
  color: #FFF;
}

/* Acerca de */

.padding-for-scroll {
  padding: 50px 0;
}

/* Servicios */

.services {
  background: #F84966;
  padding: 50px 0;
  color: #ffffff;
}

.service-item a,
.service-item a:hover,
.service-item a:active,
.service-item a:visited {
  color: #FFF;
  text-decoration: underline;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* Conocenos */

.conocenos {
  color: #ffffff;
  display: table;
  height: 425px;
  width: 100%;
  background: url(../img/ptyheader.jpg) no-repeat center center fixed;
  text-shadow: #000 0px 0px 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Imagen del equipo */

.team img {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

/* Portafolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}

/* Contacto */

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #18bc9c;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #F84966;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

/* Pie de pagina */

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #F84966;
    background: #fff;
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #609FA5;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #437278;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* Responsive */

@media (max-width: 768px) {

  .header {
	background: url(../img/bg1.jpg) no-repeat center center scroll;
  }

  .vert-text,
  .vert-text h1 {
    font-size: 2 em;
    font-weight: 300;
  }

  .services p {
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  }

  .conocenos {
  background: url(../img/ptyheader.jpg) no-repeat center center scroll;
  }

  .conocenos h1 {
    font-size: 3.8em;
  }

  .team img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
  }

}